{% extends 'base.html' %}

{% block body_block %}
    <div class="container" style="padding-top: 60px;">
        <div class="row" style="background-color: #e3e3e3;">
            <div id="d3cont" class="col-md-8" style="background: white;">
            </div>
            <div class="col-md-4 options" style="padding-top: 20px;">
            <div class="row" style="height: 400px;">
                <div class="col-md-8">
                    <input id="phil" type="text"></input>
                </div>
                <div class="col-md-4">
                    <button id="add_phil">Add</button>
                </div>
            </div>
            <div class="row">
                <label for="min_degree">Minimum degree</label>
                <input id="min_degree" type="range" name="degree" min="0" max="10">
            </div>
            </div>
        </div>
    </div>

        <style>
        /*.node {
          stroke: #fff;
          stroke-width: 1.5px;
        }*/
        .ui-autocomplete {
            font-size: 13px;
            height: 300px;
            width: 150px;
            overflow: scroll;
        }

        .link {
          stroke: #999;
          stroke-opacity: .6;
        }
        .node text {
          pointer-events: none;
          font: 10px sans-serif;
        }
        </style>
        <script type="text/javascript">
            $.get("/philosophers/list/", function(data){
                var phils = data.map(function(obj){
                    return obj.name;
                })
                $("#phil").autocomplete({
                source: phils
            });
            });
            
            var width = $("#d3cont").width(), height = 540;

            var force = d3.layout.force()
                        .charge(-1000)
                        .linkDistance(50)
                        .size([width, height])
                        .on("tick", tick);

            var svg = d3.select("#d3cont").append("svg")
                        .attr("width", width)
                        .attr("height", height);
            
            var drag = force.drag()
                .on("dragstart", dragstart);
            
            function dragstart(d) {
                 d3.select(this).classed("fixed", d.fixed = true);
            }


            function releasenode(d) {
                d.fixed = false; // of course set the node to fixed so the force doesn't include the node in its auto positioning stuff
                //force.resume();
            }

            var color = d3.scale.category20();

            dataset = [ {'influencer_name': 'Aristotle', 'follower_name': 'Heidegger'}, {'influencer_name': 'Plato', 'follower_name': 'Aristotle'} ];

            var nodes = []
            var edges = []

            $.ajax({
                url: "/philosophers/get_edges/?pid=026lj",
                success: function(data){ 
                nodes = data.nodes;
                links = data.edges;},
                async: false
                })
            nodes = [{'name': 'Aristotle', 'id': '/m/0gz_', 'dob': -384}, {'name': 'Heidegger', 'id': "/m/099bk", 'dob': 1889},
                     {'name': 'Plato', 'id': 'b64', 'dob': -428}, {'name': 'Baruch Spinoza', 'id': "/m/015n8", 'dob': 1632},
                     {'name': 'Friedrich Nietzsche', 'id': "/m/02wh0", 'dob': 1844},
                     {'name': 'Georg Wilhelm Friedrich Hegel', 'id': "/m/039n1", 'dob': 1770}]

            // use dobs to calculate x coordinates spread over range determined by range in data.

            links = [{'source': 0, 'target': 1}, {'source': 2, 'target': 0}, {'source': 0, 'target': 3}, {'source': 2, 'target': 3},
                     {'source': 3, 'target': 4}, {'source': 3, 'target': 5}, {'source': 5, 'target': 4},
                     {'source': 5, 'target': 1}, {'source': 4, 'target': 1}, {'source': 2, 'target': 4},
                     {'source': 0, 'target': 5}, {'source': 2, 'target': 5}]
            // http://stackoverflow.com/questions/9539294/adding-new-nodes-to-force-directed-layout
            addNode = function (id) {
                nodes.push({"name": "Test test", "id": 3});
                start();
            }
            // Hume's id is /m/026lj
            removeNode = function (id) {
                var i = 0;
                var n = findNode(id);
                 while (i < links.length) {
                    if ((links[i]['source'] === n)||(links[i]['target'] == n)) links.splice(i,1);
                    else i++;
                }
                var index = findNodeIndex(id);
                if(index !== undefined) {
                    nodes.splice(index, 1);
                    start();
                }
            }

            findNode = function(id){
                for (var i=0; i < nodes.length; i++) {
                    if (nodes[i].id === id)
                return nodes[i]
                };
            }

            findNodeIndex = function (id) {
                for (var i=0; i < nodes.length; i++) {
                    if (nodes[i].id === id)
                return i
                };
             }

                force
                  .nodes(nodes)
                  .links(links)

                var node = svg.selectAll(".node"),
                    link = svg.selectAll(".link");

                start()

                function start() {
                   link = link.data(links)
                   link.enter().append("line")
                   .attr("class", "link")
                   .style("stroke-width", function(d) { return Math.sqrt(d.value); });

                   link.exit().remove()

                   node = node.data(nodes)

                   // node.enter() is all the new nodes
                   // node.exit() is all the nodes that were in the grpah before but are no longer

                   // for some reason calling start twice is doubling the text and circle attributes of my nodes
                    
                   node.enter().append("g")
                            .attr("class", "node")
                            .call(drag).on('dblclick', releasenode)
                   
                   node.exit().remove();

                            
                   node.append("text")
                            .attr("dx", 12)
                            .attr("dy", ".35em")
                            .text(function(d) { l = d.name.split(" ")
                                        return l[l.length - 1] })

                    node.append("circle")
                            .attr("class", "node")
                            .attr("r", 5)
                            .style("fill", function(d) { return color(d.group); })

// http://stackoverflow.com/questions/30335368/remove-text-from-nodes-in-d3
                    
  //                   .attr("dx", 12)
  //                   .attr("dy", ".35em")
  //                   .text(function(d) { l = d.name.split(" ")
  //                                       return l[l.length-1] });

                    force.start()
                }

  //               var link = svg.selectAll(".link")
  //                  .data(links)
  //                  .enter().append("line")
  //                  .attr("class", "link")
  //                  .style("stroke-width", function(d) { return Math.sqrt(d.value); });

  //               // create an svg 'g' block for each node to contain circle + text
  //               var node = svg.selectAll(".node")
  //                           .data(nodes)
  //                           .enter().append("g")
  //                           .attr("class", "node")
  //                           .call(drag).on('dblclick', releasenode);

  //               // color node based on node 'group' - atm this is undefined
  //               node.append("circle")
  //                 .attr("class", "node")
  //                 .attr("r", 5)
  //                 .style("fill", function(d) { return color(d.group); })
  //                 .call(force.drag);

  //               node.append("text")
  //                   .attr("dx", 12)
  //                   .attr("dy", ".35em")
  //                   .text(function(d) { l = d.name.split(" ")
  //                                       return l[l.length-1] });


  //               force.on("tick", function() {
  //   link.attr("x1", function(d) { return d.source.x; })
  //       .attr("y1", function(d) { return d.source.y; })
  //       .attr("x2", function(d) { return d.target.x; })
  //       .attr("y2", function(d) { return d.target.y; });

  //   node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  // });
                // d3.select("body").selectAll("p")
                // .data(dataset)
                // .enter()
                // .append("p")
                // .text(function(d){return d.influencer_name + " -> " + d.follower_name});
            // https://www.dashingd3js.com/d3-examples/1-d3-and-javascript-working-with-json
            // http://bl.ocks.org/mbostock/3750558
            // http://www.coppelia.io/2014/07/an-a-to-z-of-extra-features-for-the-d3-force-layout/
            // http://stackoverflow.com/questions/17960016/d3-js-how-can-i-fix-only-the-x-coordinate-for-all-nodes
            // to calculate degrees:
            function tick() {

  link.attr("x1", function(d) { return d.source.sx; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.sx; })
      .attr("y2", function(d) { return d.target.y; });
      // the below is due to the fact that svg g elements are being used.
      node.attr("transform", function(d) { return "translate(" + d.sx + "," + d.y + ")"; });
}
            update = function () {

            var link = svg.selectAll(".link")
                .data(links);

            link.enter().insert("line")
                .attr("class", "link");

            link.exit().remove();

            var node = svg.selectAll(".node")
                            .data(nodes)

            var nodeEnter = node
                            .enter().append("g")
                            .attr("class", "node")
                            .call(drag).on('dblclick', releasenode);

                // color node based on node 'group' - atm this is undefined
                nodeEnter.append("circle")
                  .attr("class", "node")
                  .attr("r", 5)
                  .style("fill", function(d) { return color(d.group); })
                  .call(force.drag);

                nodeEnter.append("text")
                    .attr("dx", 12)
                    .attr("dy", ".35em")
                    .text(function(d) { l = d.name.split(" ")
                                        return l[l.length-1] });


            node.exit().remove();

            force.on("tick", function() {
            link.attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });
            });
            
            node.attr("transform", function(d) { return "translate(" + 0 + "," + d.y + ")"; });

        // Restart the force layout.
        force.start();
    }
            node_elements_list = svg.selectAll("g.node")[0]
            for (e in node_elements_list){
                console.log(node_elements_list[e].__data__.weight)
            }
        // removing nodes from a force layout: http://bl.ocks.org/mbostock/1095795

            // try setting x attributes for nodes based on dob.
            // http://bl.ocks.org/sathomas/11550728
            // The `links` array contains objects with a `source` and a `target`
            // property. The values of those properties are the indices in
            // the `nodes` array of the two endpoints of the link.

            // http://bl.ocks.org/mbostock/950642
            // http://bl.ocks.org/mbostock/4062045
            // Your beautiful D3 code will go here
            
            
        </script>
{% endblock %}
