{% extends 'base.html' %}

{% block body_block %}
    <div class="container" style="padding-top: 60px;">
        <div class="row" style="background-color: #e3e3e3;">
            <div id="d3cont" class="col-md-8" style="background: white;">
            </div>
            <div class="col-md-4 options" style="padding-top: 20px;">
            <div class="row" style="height: 400px;">
                <div class="col-md-8">
                    <input id="phil" type="text"></input>
                </div>
                <div class="col-md-4">
                    <button id="add_phil">Add</button>
                </div>
            </div>
            <div class="row">
                <label for="min_degree">Minimum degree</label>
                <input id="min_degree" type="range" name="degree" min="0" max="10" value="0">
            </div>
            </div>
        </div>
    </div>

        <style>
        /*.node {
          stroke: #fff;
          stroke-width: 1.5px;
        }*/
        .ui-autocomplete {
            font-size: 13px;
            height: 300px;
            width: 150px;
            overflow: scroll;
        }

        .link {
          stroke: #999;
          stroke-opacity: .6;
        }
        .node text {
          pointer-events: none;
          font: 10px sans-serif;
        }
        </style>
        <script type="text/javascript">
            $.get("/philosophers/list/", function(data){
                var phils = data.map(function(obj){
                    return obj.name;
                })
                $("#phil").autocomplete({
                source: phils
            });
            });
            
            var width = $("#d3cont").width(), height = 540;

            var force = d3.layout.force()
                        .charge(-1000)
                        .linkDistance(50)
                        .size([width, height])
            
            var drag = force.drag()
                .on("dragstart", dragstart)
                .on("drag", dragmove);
              
            force.on("tick", tick);

            var svg = d3.select("#d3cont").append("svg")
                        .attr("width", width)
                        .attr("height", height);
            
            
            
            function dragstart(d) {
                 d3.select(this).classed("fixed", d.fixed = true);
            }

            // so I can distort the graph by changing the sx and sy coords - but it'd be good to have a way to reset.
            function dragmove(d, i) {
               d.px += d3.event.dx;
               d.py += d3.event.dy;
               d.cx += d3.event.dx;
               d.x += d3.event.dx;
               d.y += d3.event.dy;
    }

            function releasenode(d) {
              // reset x coordinate to starting value
                d.cx = d.sx;
                d.fixed = false; // of course set the node to fixed so the force doesn't include the node in its auto positioning stuff
                //force.resume();
            }
            // node.filter(function(d) { return d.group == 1; }).style("visibility", "hidden");

            var color = d3.scale.category20();

            dataset = [ {'influencer_name': 'Aristotle', 'follower_name': 'Heidegger'}, {'influencer_name': 'Plato', 'follower_name': 'Aristotle'} ];

            var nodes = []
            var edges = []

            $.ajax({
                url: "/philosophers/get_edges/?pid=026lj",
                success: function(data){ 
                nodes = data.nodes;
                links = data.edges;},
                async: false
                })
            nodes = [{'name': 'Aristotle', 'id': '/m/0gz_', 'dob': -384}, {'name': 'Heidegger', 'id': "/m/099bk", 'dob': 1889},
                     {'name': 'Plato', 'id': 'b64', 'dob': -428}, {'name': 'Baruch Spinoza', 'id': "/m/015n8", 'dob': 1632},
                     {'name': 'Friedrich Nietzsche', 'id': "/m/02wh0", 'dob': 1844},
                     {'name': 'Georg Wilhelm Friedrich Hegel', 'id': "/m/039n1", 'dob': 1770}]

            // use dobs to calculate x coordinates spread over range determined by range in data.
            var dobs = nodes.map(function(obj){return obj.dob});
            var max = Math.max.apply(null, dobs);
            var min = Math.min.apply(null, dobs);
            var range = max - min
            var px_years = range/(width - 200)

            for (i in nodes){
              // sx defines starting pos so that reset is possible
              // cx defines current pos
              nodes[i].sx = 100 + ((nodes[i].dob - min) / px_years)
              nodes[i].cx = nodes[i].sx
            }

            links = [{'source': 0, 'target': 1}, {'source': 2, 'target': 0}, {'source': 0, 'target': 3}, {'source': 2, 'target': 3},
                     {'source': 3, 'target': 4}, {'source': 3, 'target': 5}, {'source': 5, 'target': 4},
                     {'source': 5, 'target': 1}, {'source': 4, 'target': 1}, {'source': 2, 'target': 4},
                     {'source': 0, 'target': 5}, {'source': 2, 'target': 5}]
            // http://stackoverflow.com/questions/9539294/adding-new-nodes-to-force-directed-layout
            var hiddenNodes = []
            var hiddenLinks = []
            // I could store allNodes and allLinks as strings perhaps:
            // var tempArray = JSON.parse(JSON.stringify(mainArray));
            // http://stackoverflow.com/questions/18383854/stringify-javascript-object
            // http://stackoverflow.com/questions/20249215/how-to-display-and-hide-links-and-nodes-when-clicking-on-a-node-in-d3-javascript
            // or I could just set the visibility of the links and nodes rather than removing them completely...
            var allNodes = nodes.slice(0)
            var allLinks = links.slice(0)
            getLinks = function(obj){
                var linkList = []
                for (i in allLinks){
                  var edge = allLinks[i]
                  if (edge.source.id == obj.id) {
                    var target = nodes.map(function(obj){return obj.id}).indexOf(edge.target.id);
                    if (target > -1){
                      var newEdge = {'target': target, 'source': nodes.length -1};
                      linkList.push(newEdge);
                    }
                  }
                  else if (edge.target.id == obj.id){
                    var source = nodes.map(function(obj){return obj.id}).indexOf(edge.source.id);
                    if (source > -1 ){
                    var newEdge = {'source': nodes.map(function(obj){return obj.id}).indexOf(edge.source.id), 'target': nodes.length -1};
                    linkList.push(newEdge);
                    }
                  }
                }
                return linkList
            }
            // need to add all links
            addNodes =function(arr) {
              var newLinks = []
              for (i in arr){
                nodes.push(arr[i]);
              }
              for (i in arr){
                var objLinks = getLinks(arr[i]);
                for (i in objLinks){
                  if (newLinks.indexOf(objLinks[i]) == -1){
                    newLinks.push(objLinks[i])
                  }
                }
              }
              for (i in newLinks){
                links.push(newLinks[i]);
              }
              console.log(nodes);
              console.log(newLinks);
              start();
            }

            addNode = function (obj) {
                nodes.push(obj);
                var newLinks = getLinks(obj);
                for (i in newLinks){
                  links.push(newLinks[i])
                }
                // links.push({'source': 0, 'target': nodes.length -1}, {'source': 2, 'target': nodes.length -1})
                start();
            }

            // Hume's id is /m/026lj
            removeNode = function (id) {
                var i = 0;
                var n = findNode(id);
                 while (i < links.length) {
                    if ((links[i]['source'] === n)||(links[i]['target'] == n)) links.splice(i,1);
                    else i++;
                }
                var index = findNodeIndex(id);
                if(index !== undefined) {
                    nodes.splice(index, 1);
                    start();
                }
            }

            hideNode = function(id) {
                node.filter(function(d) { return d.id == id; }).style("visibility", "hidden");
                link.filter(function(d) { return d.source.id == id || d.target.id == id}).style("visibility", "hidden");
            }

            showNode = function(id) {
               node.filter(function(d) { return d.id == id; }).style("visibility", "visible");
               link.filter(function(d) { return d.source.id == id || d.target.id == id}).style("visibility", "visible");
            }

            findNode = function(id){
                for (var i=0; i < nodes.length; i++) {
                    if (nodes[i].id === id)
                return nodes[i]
                };
            }

            findNodeIndex = function (id) {
                for (var i=0; i < nodes.length; i++) {
                    if (nodes[i].id === id)
                return i
                };
             }

                force
                  .nodes(nodes)
                  .links(links)


                var node = svg.selectAll(".node"),
                    link = svg.selectAll(".link");
                
                start()

                
                for (i in allNodes){
                  allNodes[i].originalWeight = allNodes[i].weight;
                }
                // the problem with this is that I'm not actually making copies of the objects
                // use slice to create a new object with this assignment, rather than a reference to the old one (which will vary as it varies)

                minDegree = function(weight){
                    node.filter(function(d) {return d.weight < weight}).style("visibility", "hidden");
                    link.filter(function(d) {return d.source.weight < weight || d.target.weight < weight}).style("visibility", "hidden");
                    node.filter(function(d) {return d.weight >= weight}).style("visibility", "visible");
                    link.filter(function(d) {return d.source.weight >= weight && d.target.weight >= weight}).style("visibility", "visible");
                  }

                $("#min_degree").on('change', function(){minDegree($(this).val())})

                function start() {
                   // this has to be called before the weights can be assigned.
                   // force.start()
                   // this is initially a list of the 6 svg elements
                   link = link.data(links)
                   link.enter().append("line")
                   .attr("class", "link")
                   .style("stroke-width", function(d) { return Math.sqrt(d.value); });

                   link.exit().remove()
                   // the second argument here is a key function, which is very important
                   // https://bost.ocks.org/mike/constancy/
                   node = node.data(nodes, function(d) {return d.id})
                   
                   // node.enter() is all the new nodes
                   // node.exit() is all the nodes that were in the grpah before but are no longer

                   // for some reason calling start twice is doubling the text and circle attributes of my nodes
                    
                   var g = node.enter().append("g")
                            .attr("class", "node")
                            .call(drag).on('dblclick', releasenode)
                   
                   force.start()
                    
                   g.append("circle")
                            .attr("class", "node")
                            .attr("r", function(d) {return d.weight * 3})
                            .style("fill", function(d) {return color(d.group); })
                    
                    g.append("text")
                            .attr("dx", 12)
                            .attr("dy", ".35em")
                            // these are distances from the circle (x and y)
                            .text(function(d) { l = d.name.split(" ")
                                        return l[l.length - 1] + d.weight.toString() })
                            .style("font-size", function(d) {return d.weight * 2})

                     node.exit().remove();


// http://stackoverflow.com/questions/30335368/remove-text-from-nodes-in-d3
                }
            // https://www.dashingd3js.com/d3-examples/1-d3-and-javascript-working-with-json
            // http://bl.ocks.org/mbostock/3750558
            // http://www.coppelia.io/2014/07/an-a-to-z-of-extra-features-for-the-d3-force-layout/
            // http://stackoverflow.com/questions/17960016/d3-js-how-can-i-fix-only-the-x-coordinate-for-all-nodes
            // to calculate degrees:
            function tick() {

  link.attr("x1", function(d) { return d.source.cx; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.cx; })
      .attr("y2", function(d) { return d.target.y; });
      // the below is due to the fact that svg g elements are being used.
      node.attr("transform", function(d) { return "translate(" + d.cx + "," + d.y + ")"; });
    }
           
        // removing nodes from a force layout: http://bl.ocks.org/mbostock/1095795

            // try setting x attributes for nodes based on dob.
            // http://bl.ocks.org/sathomas/11550728
            // The `links` array contains objects with a `source` and a `target`
            // property. The values of those properties are the indices in
            // the `nodes` array of the two endpoints of the link.

            // http://bl.ocks.org/mbostock/950642
            // http://bl.ocks.org/mbostock/4062045
            // Your beautiful D3 code will go here
            
            
        </script>
{% endblock %}
