{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="options">
            <input id="phil" type="text"></input>
            </div>
        </div>
        <div class="row">
            <div id="d3cont">
            </div>
        </div>
    </div>

        <style>
        /*.node {
          stroke: #fff;
          stroke-width: 1.5px;
        }*/

        .link {
          stroke: #999;
          stroke-opacity: .6;
        }
        .node text {
          pointer-events: none;
          font: 10px sans-serif;
        }
        </style>
        <script type="text/javascript">
            var width = 760, height = 640;

            var force = d3.layout.force()
                        .charge(-1000)
                        .linkDistance(50)
                        .size([width, height]);

            var svg = d3.select("#d3cont").append("svg")
                        .attr("width", width)
                        .attr("height", height);
            var color = d3.scale.category20();

            dataset = [ {'influencer_name': 'Aristotle', 'follower_name': 'Heidegger'}, {'influencer_name': 'Plato', 'follower_name': 'Aristotle'} ];
            $.getJSON("/philosophers/get_edges/?pid=026lj", function(data){
                var nodes = data.nodes;
                var links = data.edges;

                force
                  .nodes(nodes)
                  .links(links)
                  .start();

                var link = svg.selectAll(".link")
                   .data(links)
                   .enter().append("line")
                   .attr("class", "link")
                   .style("stroke-width", function(d) { return Math.sqrt(d.value); });

                // create an svg 'g' block for each node to contain circle + text
                var node = svg.selectAll(".node")
                            .data(nodes)
                            .enter().append("g")
                            .attr("class", "node")
                            .call(force.drag);

                // color node based on node 'group' - atm this is undefined
                node.append("circle")
                  .attr("class", "node")
                  .attr("r", 5)
                  .style("fill", function(d) { return color(d.group); })
                  .call(force.drag);

                node.append("text")
                    .attr("dx", 12)
                    .attr("dy", ".35em")
                    .text(function(d) { l = d.name.split(" ")
                                        return l[l.length-1] });


                force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
                // d3.select("body").selectAll("p")
                // .data(dataset)
                // .enter()
                // .append("p")
                // .text(function(d){return d.influencer_name + " -> " + d.follower_name});
            // https://www.dashingd3js.com/d3-examples/1-d3-and-javascript-working-with-json
            // http://bl.ocks.org/mbostock/3750558
            // http://www.coppelia.io/2014/07/an-a-to-z-of-extra-features-for-the-d3-force-layout/
            // http://stackoverflow.com/questions/17960016/d3-js-how-can-i-fix-only-the-x-coordinate-for-all-nodes
            // to calculate degrees:
            node_elements_list = svg.selectAll("g.node")[0]
            for (e in node_elements_list){
                console.log(node_elements_list[e].__data__.weight)
            }
            });
        // removing nodes from a force layout: http://bl.ocks.org/mbostock/1095795

            // try setting x attributes for nodes based on dob.
            // http://bl.ocks.org/sathomas/11550728
            // The `links` array contains objects with a `source` and a `target`
            // property. The values of those properties are the indices in
            // the `nodes` array of the two endpoints of the link.

            // http://bl.ocks.org/mbostock/950642
            // http://bl.ocks.org/mbostock/4062045
            // Your beautiful D3 code will go here
            
            
        </script>
{% endblock %}
